<section class="">
  <div class="cr3qe cc4iv  cctm8 cjd0t cc4p5 bg-blue-500" aria-hidden="true"></div>
  <div class="cxbqz cda2i c8fqg cayep ">
    <div class="c69rl cdydn c9bhd c6nzd cysw3 cpkvl c11sp c7u2v crdwv cayep ">
      <div class="c0uqa c22bh cpd5e aos-init aos-animate" data-aos="fade-right">
        <h1 class="crr18 cpdaa c4xfz cnoyb">What do you want to learn today?</h1>
        <p class="cn2sc cnuk0 cpw7g">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form,<br>
          by injected humour, or randomised words which don't look even slightly believable.
        </p>
      </div>
      <div x-data="{ modalExpanded: false }" data-aos="fade-left" class="aos-init aos-animate">
        <div class="cx9j5 caf65 clyv4">
          <div class="relative">
            <div class="cc4iv c3ok0 cr5qs cuaye cctm8 c7b7t cjd0t cc4p5 c0g3e ce5d2" aria-hidden="true"></div>
            <%= image_tag('student.jpg') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="cxbqz c8fqg cayep c4i38 text-2xl">
    <div class="cfos8 c6lxw">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="bg-blue-50 p-4 rounded-lg shadow-md border-2">
          <h1 class="text-3xl text-indigo-600"><i class="fas fa-graduation-cap"></i></h1>
          <%= Course.count %> online courses
          <div class="text-gray-600 mt-2">Explore a variety of fresh topics</div>
        </div>
        <div class="bg-blue-50 p-4 rounded-lg shadow-md border-2">
          <h1 class="text-3xl text-indigo-600"><i class="fas fa-chalkboard-teacher"></i></h1>
          <%= Course.distinct.count(:user_id) %> expert instructors
          <div class="text-gray-600 mt-2">Find the right instructor for you</div>
        </div>
        <div class="bg-blue-50 p-4 rounded-lg shadow-md border-2">
          <h1 class="text-3xl text-indigo-600"><i class="fas fa-user-graduate"></i></h1>
          <%= User.count %> active learners
          <div class="text-gray-600 mt-2">Join the knowledge sharing community</div>
        </div>
        <div class="bg-blue-50 p-4 rounded-lg shadow-md border-2">
          <h1 class="text-3xl text-indigo-600"><i class="fas fa-infinity"></i></h1>
          Lifetime access
          <div class="text-gray-600 mt-2">Learn on your schedule</div>
        </div>
      </div>
    </div>
  </div>
</section>





